:root {
  --bg-main: #0e1117;
  --bg-panel: #161b22;
  --bg-card: #0d1117;
  --border: #30363d;
  --text-primary: #e6edf3;
  --text-secondary: #9da7b3;
  --accent: #d4af37;
  --radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: system-ui, sans-serif;
}

/* CONTAINER */
.container {
  max-width: 1300px;
  margin: auto;
  padding: 12px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 8px;
}
.header h1 {
  color: var(--accent);
  font-size: 1.6rem;
}
.header p {
  color: var(--text-secondary);
  font-size: 0.85rem;
}

/* TOP CONTROLS */
.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-panel);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 8px 12px;
  margin-bottom: 6px;
}

.left-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.right-controls {
  display: flex;
  align-items: center;
}

input, select {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 6px;
  color: var(--text-primary);
  padding: 6px;
}

button {
  background: var(--accent);
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  font-weight: 600;
  cursor: pointer;
}

/* MARKET / TF */
.market-type, .timeframe-bar {
  display: flex;
  gap: 6px;
}

.market-btn, .tf-btn {
  background: var(--bg-card);
  border: 1px solid var(--border);
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.market-btn.active, .tf-btn.active {
  background: var(--accent);
  color: #000;
}

/* INDICATORS */
.indicators {
  position: sticky;
  top: 6px;
  z-index: 10;
  margin-bottom: 6px;
}

.accordion-item {
  background: var(--bg-panel);
  border: 1px solid var(--border);
}

.accordion-button {
  background: var(--bg-panel) !important;
  color: var(--text-primary) !important;
}

/* CHARTS */
.charts-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: var(--bg-panel);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  overflow: hidden; 
  gap: 4px;
}

/* CHART PRINCIPAL */
#chartContainer {
  height: 62vh;
  min-height: 320px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--border); 
}

/* RSI */
#rsiContainer {
  height: 20vh ;
  min-height: 120px;
  opacity: 0.95;
  background: var(--bg-panel);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  

}


/* FOOTER */
.footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--text-secondary);
  margin: 6px 0;
}

/*cursor*/
.chart-drawing {
  cursor: crosshair !important;
}
#chartContainer.chart-drawing {
  cursor: crosshair;
}
